*{
    margin: 0%;
    padding: 0%;

}
.centrar_Horizontal{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.centrar_Horizontal-1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.centrar_Vertical{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.centrar_Vertical-1{
    display: flex;
    flex-direction: column;
    justify-content: top; 
    margin-left: 5%;
}
.centrar_Vertical-2{
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 25%;
}
.centrar_Vertical_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    padding-left: 5%;
    height: 20%;
    width: 20%;
}
#usuario,#contrasenia{
margin-top: 7%;
margin-bottom:2%;
border: none;
}
#inicio{
    color: red;
}
.separador{
    border: 0.05em solid red;
}
#iniciar{
    margin: 20%;
    padding: 1em;
    color: red;
    background-color: transparent;
    border: 0.05em solid red;
}
.espacio{
    margin-bottom: 3%;
}
.fot{
    width: 50%;
    height: 100%
}
.espacio2{
    margin-top:5%;
    margin-bottom: 5%;
}
.ico{
    width: 25%;
    height:15%;
}
#guardar{
    width: 20%;
}
.boton{
    text-align: center;
    background-color: red;
    padding: 10%;
    margin:2%;
    width: 50%;
}
.boton a{
     text-decoration: none;
     color: white;
}